{% extends "base.html" %}

{% block app_content %}
<div class="jumbotron text-center">
    <h1>Your Wallet</h1>
</div>
      
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Your wallet</h3>
            <p>[[user wallet data here]]</b></p>
        </div>
        <div class="col-sm-4">
            <h3>Payment for licence and services</h3>
            <p>[[service wallet data here]]</b></p>
        </div>
        <div class="col-sm-4">
            <h3>Last transactions</h3>
            <p>[[transaction data here]]</b></p>
        </div>
    </div>
</div>
{% endblock %}